@media screen and (max-width: 1024px) {
  .container {
    max-width: 949px;
  }

  .nav-wrapper {
    height: 122px;
  }

  .logo-wrapper {
    width: 4em;
    height: 2.4em;
    position: absolute;
    left: 50%;
    margin-left: -2em;
  }

  .nav-list {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .slider {
    margin-bottom: 1.2em;
  }

  .slider {
    height: 461px;
  }

  .slider-text {
    font-size: 1em;
  }

  .descr-section,
  .heading {
    margin-bottom: 1.6rem;
  }

  .heading {
    font-size: 1.4em;
  }

  .descr-blocks-wrapper {
    flex-direction: column;
  }

  .descr-block {
    padding: 2.4em;
    width: 100%;
  }

  .descr-block:first-child {
    margin-bottom: 1.6rem;
  }

  .form-section {
    padding-bottom: 4em;
  }

  .form-section .heading {
    margin-bottom: 1.6rem;
  }

  .header {
    position: absolute;
    z-index: 1;
    background-color: #000;
    width: 100%;
  }

  .header .nav-wrapper {
    height: 316px;
    padding: 2.4em 0;
    padding-bottom: 5.55em;
    align-items: flex-start;
  }

  .header .logo path {
    fill: #fff;
  }

  .header .burger-menu {
    height: 2.4em;
    justify-content: center;
  }

  .header .burger-menu::after,
  .header .burger-menu::before {
    display: none;
  }

  .header .burger-menu-el {
    position: relative;
    transition: transform 0.4s ease-out;
    transform: rotate(45deg);
    background-color: #fff;
  }

  .header .burger-menu-el::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    background-color: #fff;
  }

  .header .nav-list {
    display: flex;
  }

  .header .nav-link {
    color: #fff;
    font-size: 1.2em;
  }

  .header .nav {
    align-self: flex-end;
    position: relative;
    left: 50%;
    margin-left: -10em;
  }
}
